# Copyright (c) 2025 HPMicro
# SPDX-License-Identifier: Apache-2.0

if BOARD_HPM6E00EVK_V2

config HEAP_MEM_POOL_SIZE
	default 16384

config BUILD_OUTPUT_HEX
	default y

config UART_INTERRUPT_DRIVEN
	default y

endif
